!!! 5
%html
  %head
    %title WebLapine
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield :html_head

  %body
    #ribbon= link_to "Fork me on GitHub", "https://github.com/AlSquire/WebLapine"

    %nav.navbar.navbar-inverse.navbar-fixed-top{ role: "navigation" }
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        = link_to "WebLapine", nil, class: "navbar-brand"

    .container= yield
