!!! 5
%html
  %head
    %title WebLapine
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = yield :html_head
    = google_analytics

  %body
    %h1 WebLapine
    %ul#menu
      %li= link_to 'Issues on Github', 'https://github.com/AlSquire/WebLapine/issues'
      %li= link_to 'RSS', url_for(:format => :rss)
    = yield
